@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-Gilroy Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-Gilroy Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-Gilroy Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-Gilroy Black.otf");
  font-style: normal;
  font-weight: 900;
}
